body {
    font-family: Arial, sans-serif;
}

nav {
    background-color: #333;
    color: white;
    padding: 15px;
}

nav h1 {
    display: inline;
}

.nav-list {
    list-style-type: none;
    float: right;
}

.nav.item {
    display: inline;
    margin: 0 10px;
}

main {
    margin: 15px;
}

.product {
    border: 1px solid #333;
    padding: 10px;
    margin-bottom: 10px;
}

.add-to-cart {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.cart-item {
    border: 1px solid #333;
    padding: 10px;
    margin-bottom: 10px;
}

.del-from-cart {
    background-color: #f44336;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
